.singleproductpage-main {
  margin-top: 50px;
  width: 75%;
  margin: auto;
}

.singleproductpage-product {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.singleproductpage-product img {
  border-radius: 16px;
  width: 95%;
  margin: auto;
}

.singleproductpage-product-info {
  width: 80%;
  margin: auto;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-price {
  font-size: 30px;
  font-weight: bold;
  /* color:#2a74ed; */
  margin-top: 80px;
}

.singleproductpage-product-info button {
  background-color: #2a74ed;
  color: white;
  width: 40%;
  border-radius: 28px;
  border: none;
  padding: 10px;
}

.Reviews-title-line {
  width: 100%;
  height: 2px;
  background-color: #ccc;
  margin-top: 150px;
}

.Reviews-title {
  margin-top: 20px;
}
.Reviews-title-create {
  color: #2a74ed;
  cursor: pointer;
  text-decoration: underline;
}

.Reviews {
  margin-top: 20px;
}

.review {
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 10px;
  margin-bottom: 10px;
}

.review p {
  margin: 0;
}

.review p:first-child {
  font-weight: bold;
}





@media (max-width: 768px) {
  .singleproductpage-main {
    width: 90%;
  }

  .singleproductpage-product {
    grid-template-columns: 1fr; 
  }

  .singleproductpage-product img {
    width: 100%; 
  }

  .singleproductpage-product-info {
    width: 100%; 
    margin-top: 20px; 
  }

  .product-price {
    margin-top: 20px;
    margin: auto; 
  }
  .singleproductpage-product-info button{
    width: 90%;
    margin: auto;
  }
}